.stockTitle {
    font-size: 4rem;
    margin-left: 30px;
    margin-top: 30px;
}

.stockItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
    margin-top: 3rem;
    gap: 10rem;
}